s
body{
    font-family: 'Roboto', sans-serif;
}
  
  h1,h2, h3,h4,h5,h6,p,a,input,button {
    font-family: "Roboto", sans-serif;
  }
  
  .nav-color {
    background: #28A745;
  }
  .nav-a-color a {
    color: white;
  }
  

  